body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.black {
    background-color: black;
    width: 20%;
}

.heimg {
    max-width: 500px;
    max-height: 250px;
}

ul,
li,
.logo {
    display: flex;
    flex-shrink: 0;
}

.body {
    display: flex;
    flex-direction: column;
    width: 60%;
    
}

.container {
    display: flex;
    flex-direction: column;
    border: solid black;
    background-color: #1F2937;
}

.header {
}

.hcontainer {
    display: flex;
}

.header,
.hcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15% 100px 15%;
}

.text {
    padding-right: 50px;
    max-width: 420px;
    height: auto;
}

.htext,
.logo {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.htext {
    font-size: 48px;
    font-weight: 900;
    align-self: flex-start;
}

li,
.hsubtext {
    color: #F9FAF8;
    padding-bottom: 10px;
}

.hsubtext {
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}

.mcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px 25% 0 25%;
}

.imgtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20% 50px 20%;
}

.img {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    align-items: center;
    text-align: center;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px 18% 60px 18%;
}

.qcontainer {
    display: flex;
    flex-direction: column;
}

.qtext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.person {
    font-weight: bold;
    align-self: flex-end;
}
